.btn-watchLater {

  &._is-active {
    --background: var(--voxxrin-event-theme-colors-secondary-hex);
    --color: var(--voxxrin-event-theme-colors-secondary-contrast-hex);
    border-left: 1px solid var(--voxxrin-event-theme-colors-secondary-hex);
  }
}