.feedBackFooter {

  ion-toolbar {
    --background: var(--app-white);
    --padding-top: 12px;
    --padding-bottom: 8px;
    --padding-start: 4px;
    --padding-end: 4px;
    --min-height: 44px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  }

  &-group {
    display: flex;
    column-gap: 8px;
    margin-top: 8px;

    ion-button:first-child { width: 128px}
    ion-button:last-child { flex: 1;}
  }
}