.tabsSelection {
  display: flex;
  align-items: center;
  padding: 4px 8px 0 8px;
  border-radius: 0;
  border-top: 1px solid var(--app-beige-line);
  border-bottom: 1px solid var(--app-beige-line);
  background: var(--app-white);

  &._clearMode {
    border: none;

    ::part(native) {border-radius: 24px;}
    ::part(indicator-background) { border-radius: 24px;}

    ion-segment-button {
      top: 0;
      --color: var(--app-primary);
      --indicator-color: var(--app-primary);
      --indicator-box-shadow: none;

      &.segment-button-checked:hover .button-native {
      --color-hover: var(--app-white) !important;
    }

      @media (prefers-color-scheme: dark) {
        --color: var(--app-primary);
        --indicator-color: var(--app-beige-line);
      }
    }
  }

  ::part(native) {
    border-radius: 16px 16px 0 0;
  }

  ::part(indicator-background) {
    border-radius: 16px 16px 0 0;
  }

  &.md {
    .in-segment {
      text-transform: none;

      &:first-letter {
        text-transform: lowercase;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    border-top: 1px solid var(--app-beige-line);
    border-bottom: 1px solid var(--app-beige-line);
    background: var(--app-medium-contrast);
  }

  ion-segment-button {
    margin: 0;
    --padding-top: 20px;
    --padding-bottom: 12px;
    --border-radius: 16px 16px 0 0;
    --border-width: 0;
    font-weight: 900;
    font-size: 16px;
    height: 40px;
    min-height: 46px;
    letter-spacing: normal;
    color: var(--app-primary);
    --color-checked: var(--app-white);
    --color-hover: var(--app-white);
    --indicator-color: var(--app-voxxrin);
    --indicator-box-shadow: none;

    &.md {
      --indicator-height: 44px;
    }

    @media (prefers-color-scheme: dark) {
      color: var(--app-white);
    }

    .count {
      position: relative;
      top: -2px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 28px;
      min-width: 28px;
      margin-left: 8px;
      padding: 0 6px;
      font-size: 12px;
      background-color: var(--app-beige-medium);
      color: var(--app-primary);
      border-radius: 34px;

      @media (prefers-color-scheme: dark) {
        background-color: transparent;
        border: 1px solid var(--app-white);
        color: var(--app-white);
      }
    }

    .segment-button-indicator {
      background: none;
    }

    &.segment-button-checked {
      color: white;

      .count {
        background-color: var(--app-primary);
        color: var(--app-white);

        @media (prefers-color-scheme: dark) {
          background-color: var(--app-white);
          color: var(--app-voxxrin);
        }
      }
    }
  }
}

.tabsSelection ion-segment-button.md {


  .segment-button-indicator {
    bottom: 2px;
  }
}
