.tabsSelection {
  display: flex;
  align-items: center;
  height: 54px;
  padding: 0 8px;
  border-radius: 0;
  border-top: 1px solid var(--app-beige-line);
  border-bottom: 1px solid var(--app-beige-line);
  background: var(--app-white);

  &.md {
    .in-segment {
      text-transform: capitalize;

      &.segment-button-checked {

        .sc-ion-label-md-h {
          color: var(--app-voxxrin);
        }
      }

      .indicator-background {
        width: 100%;
        height: 44px;
        top: -2px;
        border-radius: 54px;
        transform: var(--indicator-transform);
        box-shadow: var(--indicator-box-shadow);
        pointer-events: none;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    border-top: 1px solid var(--app-beige-line);
    border-bottom: 1px solid var(--app-beige-line);
    background: var(--app-medium-contrast);
  }

  ion-segment-button {
    --border-radius: 54px;
    --border-width: 0;
    font-weight: 900;
    font-size: 16px;
    height: 38px;
    color: var(--app-primary);
    --indicator-color: var(--app-voxxrin);
    --indicator-box-shadow: none;

    .segment-button-indicator {
      background: none;
    }

    &.segment-button-checked {
      color: white;
    }
  }
}