.talkDetails-description {
  ion-text {
    * {
      color: var(--app-primary) !important;

      @media (prefers-color-scheme: dark) {
        color: white !important;
      }
    }
  }
}

/* ==== Links ==== */
a {
  font-weight: bold;
}

/* ==== Title ==== */

.title {
  * { font-weight: 900;}
}
