@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulsate-fwd {
  0% { transform: scale(1);}
  50% { transform: scale(1.4);}
  100% { transform: scale(1);}
}

@keyframes jello-vertical {
  0% { transform: scale3d(1, 1, 1);}
  30% { transform: scale3d(0.75, 1.25, 1);}
  40% { transform: scale3d(1.25, 0.75, 1);}
  50% { transform: scale3d(0.85, 1.15, 1);}
  65% { transform: scale3d(1.05, 0.95, 1);}
  75% { transform: scale3d(0.95, 1.05, 1);}
  100% { transform: scale3d(1, 1, 1);}
}

/* ===== Vue Animation Library ====  */

/* Scale Up */
.scaleUp-enter-active, .scaleUp-leave-active {
  transition: transform 240ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.scaleUp-enter-from, .scaleUp-leave-to {
  transform: scale(0) translateY(100%);
}

.scaleUp-enter-to, .scaleUp-leave-from {
  transform: scale(1) translateY(0);
}
