/** App Voxxrin Specifics Variables **/

/* CSS Variables */
:root {
    /* Color Fix */
    --app-voxxrin: #E90866;
    --app-voxxrin-rgb: 233, 8, 102;
    --app-voxxrin-contrast: #ffffff;
    --app-voxxrin-contrast-rgb: 255, 255, 255;
    --app-voxxrin-shade: #c10553;
    --app-voxxrin-tint: #f1287e;

    --app-beige-dark: #A3998F;
    --app-beige-medium: #EDE7E1;
    --app-beige-light: #F5F3F0;
    --app-beige-line: #DDD6CE;
    --app-beige-line-rgb: 239,238,238;

    --app-grey-dark: #807C76;
    --app-grey-medium: #B1B1B1;
    --app-grey-light: #EEEEEE;
    --app-grey-line: #efeeee;

    --app-white-transparent: 255, 255, 255, 0.3;
    --app-white: #FFFFFF;
    --app-white-90: rgba(255, 255, 255, 0.9);
    --app-white-80: rgba(255, 255, 255, 0.8);
    --app-white-70: rgba(255, 255, 255, 0.7);

    --app-black-transparent: 15, 15, 15, 0.3;
    --app-black: #0F0F0F;
    --app-black-90: rgba(15, 15, 15, 0.9);
    --app-black-80: rgba(15, 15, 15, 0.8);
    --app-black-70: rgba(15, 15, 15, 0.7);

    --app-primary: #0F0F0F;
    --app-primary-rgb: 15, 15, 15;
    --app-primary-contrast: #ffffff;
    --app-primary-contrast-rgb: 255, 255, 255;
    --app-primary-shade: #404040;
    --app-primary-tint: #656463;

    --app-green: #73a027;
    --app-green-rgb: 115, 160, 39;
    --app-yellow: #ff6a00;
    --app-yellow-rgb: 255, 106, 0;
    --app-red: #cc0f0f;
    --app-red-rgb: 204, 15, 15;


    --app-background: #F7F6F0;

    /* STYLES */
    --app-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.15);

    /* TRANSITIONS */
    --transition-active-default: 80ms ease-in-out;

    /* METRICS */
    --app-gutters: 16px;
    --app-gutters-medium: 12px;

    --app-radius-form: 8px;
    --app-bloc-radius: 16px;
    --app-card-radius: 8px 12px 12px 8px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --app-beige-dark: rgba(227, 227, 227, 0.9);
        --app-beige-medium: #EDE7E1;
        --app-beige-light: #F5F3F0;
        --app-beige-line: #353a4d;
        --app-beige-line-rgb: 74,80,106;

        --app-background: #141923;
        --app-dark-contrast: #242935;
        --app-dark-contrast-rgb: 20, 25, 35;
        --app-medium-contrast: #242935;
        --app-medium-contrast-rgb: 36, 41, 53;
        --app-light-contrast: #3a3d51;
        --app-light-contrast-rgb: 58, 61, 81;
        --app-line-contrast: #353a4d;
        --app-line-contrast-rgb: 74, 80, 106;
        --app-grey-contrast: #6c7087;
        --app-grey-contrast-rgb: 108, 112, 135;
    }
}

/**
 * PATH
 * **************************************************************************************** >
 */

/** Images path */
$path-img :                                  '../assets/images/' !default;
$path-jpg :                                  '#{$path-img}jpg/' !default;
$path-png :                                  '#{$path-img}png/' !default;
$path-svg :                                  '#{$path-img}svg/' !default;
$path-gif :                                  '#{$path-img}gif/' !default;

/** Fonts path */
$path-font:                                   '../assets/fonts/' !default;
